*{
    box-sizing: border-box;
}

section{
    margin: 15px 0 15px 0;
}
.Marginbot{
    margin-bottom: 200px;
}
.container{
    border: 2px blue solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.box{
    width: 100px;
    height: 100px;
    border: 2px yellow solid;
    margin-left: 50px;
    background-image: url("discord.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.container2{
    height: 80px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    border: 2px purple;
    align-items: center;


}
.box-small{
    margin: 0px;
    width: 70px;
    height: 70px;
    border: 2px red solid;
    background-image: none;
}

/* LAYOUT 2 */

.ContenedorL2{
    border: 4px solid lightgray;
    padding: 24px 24px 0px 24px;
    display: flex;
    justify-content: center;
}

/* Con esto hacemos que no se estreche tanto los titulos o cajas y que pasados un tamaño maximo se queden así, o se achiquen */
.rowL2 {
    width: 100%;
    max-width: 600px;
    /* Puedes lograr lo mismo que hacer display:flex y justify-content: center si pones en el row "margin: 0 auto;" */
    margin: 0 auto;
}

.Título2{
    border: 2px solid lightgray;
    width: 100%;
    height: 24px;
    margin-bottom: 24px;
}

.cajaL2{
    border: 4px solid lightgray;
    width: 30%;
    height: 100px;
    margin-bottom: 24px;
    background-image: url("discord.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.contenedor2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* LAYOUT 3*/

.ContenedorG3{
    border: 4px solid lightgray;
    padding: 50px;
}

.rowL3{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
}

.Contenedor_L3{
    display: flex;
    width: 48%;
    flex-direction: column;
    justify-content: space-between;
}
.cajaL3{
    border: 2px solid lightgray;
    width: 100%;
    height: 25%;
    background-image: url("discord.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.Cuadro3{
    border: 2px solid lightgray;
    width: 48%;
    height: 250px;
}

/* Layout 4 */

.ContenedorG4{
    border: 4px solid lightgray;
    padding: 80px 120px 80px 120px;
}


.rowL4{
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0 auto;
}

.Contenedor--LargoyChico{
    display: flex; 
    width: 45%;
    height: 180px;
    flex-direction: column;
    justify-content: space-between;
}

.ContenedorL4--Chico{
    display: flex;
    justify-content: space-between;
    height: 25%;
}

.cajaL4--Grande{
    border: 2px solid lightgray;
    width: 45%;
    height: 180px;
}

.cajaL4--Largo{
    border: 2px solid lightgray;
    width: 100%;
    height: 25%;
}

.cajaL4--Chico{
    border: 2px solid lightgray;
    width: 30%;
    height: 100%;
    background-image: url(discord.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}